.idea/
.vscode/
.venv/
.build/
dist.zip
src/
.github/
.gitmodules
eslint.config.mjs
dist/emulators/test/
index.html
postcss.config.cjs
public/
tailwind.config.cjs
tsconfig.json
tsconfig.node.json
vite.config.ts
README.deployment.md
